/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
	background: #444;
	padding-top: 10px;
	height: 70px;
	font-family: 'HelveticaNeue';
	color: white;
}
header h1 {
  font-family: "Roboto";
	color: #fff;
	line-height: 60px;
}
#logo {
  background: url(../images/empower-logo.png) 0px 0px no-repeat;
	background-size: cover;
	height: 50px;
  padding-right: 30px;
	padding-left: 30px;
	display: inline-block;
}
#company-name {
  height: 50px;
  padding-right: 30px;
	padding-left: 30px;
	display: inline-block;
}
/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
	width: 100%;
	background: #444;
	height: 50px;

}
nav ul li {
	display: inline-block;
	margin-left: 30px;
	line-height: 40px;
	list-style-type: none;
}
nav.four.columns ul a {
	color: #fff;
	text-decoration: none;
}
nav.four.columns ul a:hover {
	color: #a1abd2;
}
.active {
	color: #b1abd2;
}
/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 0;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
#picture {
  background: url(../images/about-hand-medium.jpg) 0px 0px no-repeat;
  background-size: cover;
  width: 50%;
  height: 600px;
  padding-right: 30px;
  padding-left: 30px;
  display: inline-block;
}
#about {
  display: inline-block;
}
.intro{
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}
.intro .type .empower {
  font-family: 'Helvetica Neue';
  color: white;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	padding-top: 24vh;
	padding-left: calc(80px + 8vw);
}


.intro video{
	height: 100%;
	width: 100%;
	background-size: cover;
	object-fit: cover;
	position: absolute;
	/* top: 0px;
	left: 0px; */
	z-index: 1;
	filter: grayscale(1) brightness(.22) contrast(.9);
	background-position: center;
	/* background:transparent url('video/street/poster.png') no-repeat 0 0; */
}
/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 2em;
  }
  .hero {
    padding: 2em;
    text-align: left;
    height: 165px;
  }
  .hero-heading {
  }
  #picture {
    background: url(../images/about-hand-small.jpg) 0px 0px no-repeat;
    background-size: cover;
    height: 600px;
    padding-right: 30px;
    padding-left: 30px;
    display: inline;
  }
  #about {
    display: inline;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
  }
  .section {
    padding: 2em;
  }
  .hero {
    padding: 2em;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  #picture {
    background: url(../images/about-hand-small.jpg) 0px 0px no-repeat;
    background-size: cover;
    height: 400px;
    padding-right: 30px;
    padding-left: 30px;
    display: inline-block;
  }

}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 2em;
  }
  .hero {
    padding: 2em;
  }
  .hero-heading {
  }

}
